html,body{
  width:100%;
  font-size: 13px;
  background-color: #fff;
  color:#333;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  overflow-x: hidden;
}
*{
  margin:0;
  padding:0;
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
  -webkit-user-select:none; /*webkit浏览器*/   
  -khtml-user-select:none; /*早期浏览器*/   
  -moz-user-select:none;/*火狐*/   
  -ms-user-select:none; /*IE10*/   
  user-select:none; 
}
.font_14{
  font-size: 14px;
}
.font_12{
  font-size: 12px;
}
h5{
  font-size: 15px;
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.margin_min_top{
  margin-top: 10px;
}
.margin_min_bottom{
  margin-bottom: 10px;
}
.padding_min{
  padding:0 10px;
}
.con_flex{
  display: flex
}
.con_flex.col{
  flex-direction: column;
}
.con_flex.col.center{
  align-items: center;
}
.font_strong{
  font-weight: bold;
}
/* base css 结束 */









.we_toast{
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we_toast i{
  display: none !important;
}
.we_toast .weui-toast{
  width: unset;
  height: unset;
  padding:8px 12px;
  min-height: unset;
  max-width: 120px;
  position: unset;
  margin-left: 0;
}
.we_toast .weui-toast p{
  margin: 0;
}
/* 自定义toast结束 */




.jt_icon{
  transition: all .3s;
  position: relative;
  top:-2px;
}
.jt_icon.activeImg{
  transform:rotate(180deg);
}
.box{
  max-width: 720px;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 0;
  opacity: 0;
  transition: opacity .3s;
}
.box.loaded{
  opacity: 1;
}
section{
  margin-top: 18px;
}
.question_title_box{
  display: flex;
  justify-content: space-between;
}
.question_title_box img{
  width:12px;
  height: 12px;
  position: relative;
  top:-1px;
}
.match_box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
section img{
  max-width: 100%;
}
.no_video_img img{
  width:100%;
  min-height: 180px;
}
.video_hander{
  width:100%;
  height: 200px;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_img{
  width: 54px;
}
section:nth-last-of-type(1){
  margin-top: 0px;
}
.look_parse{
  width:100%;
  height:45px;
  background:rgba(241,243,248,1);
  border-radius:8px;
  text-align: center;
  line-height: 45px;
  color:#45B7FF;
  margin-top: 12px;
}
.look_parse img{
  width:14px;
  height: 14px;
}
.practise_section{
  transition: all .4s;
  overflow: hidden;
  max-height: 0;
}

.parse_bg{
  background:rgba(241,243,248,1);
  border-radius:8px;
  padding: 10px;
}
.question_img_box{
  max-height: 150px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}
.question_img{
  width: 100%;
}
.video_box{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  background-color: #000;
  opacity: 0;
  /* transform: scale(0); */
  transition: all .5s;
}
.video_box.videoActive{
  /* transform: scale(1); */
  opacity: 1;
}
.text_trivial{
  color:#C0C8CF;
}
.mask{
  width:100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0);
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  z-index: 999999;
}
.mask.active{
  background-color: rgba(0,0,0,.4);
}
.mask_con{
  width:280px;
  height:184px;
  background:#fff;
  border-radius:15px;
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  bottom:0;
  top:0;
  opacity: 0;
  transform: scale(0);
  transition: all .3s;
}
.mask.active .mask_con{
  transform: scale(1);
  opacity: 1;
}
.button-box{
  display: flex;
  justify-content: space-between;
}
.noborder{
  border: 0;
  outline: 0;
}
.text_center{
  text-align: center;
}
.button-box{
  padding:0 16px ;
  box-sizing: border-box;
}
.button-box button{
  border: 0;
  outline: 0 !important;
  display: inline-block;
  width:105px;
  height: 42px;
  border-radius: 24px;
  font-size: 17px;
  line-height: 42px;
}
.button-box>.confirm_btn{
  background-color: #45B7FF !important;
  color:#fff;
}
.con_title{
  margin-top: 22px;
  font-size: 17px;
  color:#474F66;
}
.con_info{
  margin: 18px auto 25px auto;
  font-size: 15px;
  color:#7A8299;
}
.button-box>.cancel_btn{
  color: #45B7FF;
  background-color:#fff !important;
  border: 1px solid #45B7FF !important;
}
.back_hander{
  max-width:85px;
  height: 30px;
  font-size: 12px;
  color:#fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: -webkit-linear-gradient(left, rgba(51, 187, 255, 0.9) , rgba(8, 156, 255, 0.9));
  position: fixed;
  left:0;
  top:40px;
  line-height: 30px;
  padding:0 14px 0 18px;
  box-sizing: border-box;
}
.back_hander img{
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:-2px;
}